XML schema .xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="livres">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="livre">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="title"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="urls">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="web-urls">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="url"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="xml">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="articles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="article">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="titles">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="title"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="urls">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="web-urls">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:anyURI" name="url"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="xml">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="livres">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="livre">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="titles">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="title"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="urls">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="web-urls">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="url"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="xml">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="sites">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="site">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="titles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="title"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="urls">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="web-urls">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="url"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="xml">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="balises">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="balise">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="titles">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="title"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="urls">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="web-urls">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="url"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="xml">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="books">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="book">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="contributors">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="authors">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element type="xs:string" name="author"/>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="titles">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="title"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="urls">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="web-urls">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element type="xs:string" name="url"/>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="xml">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="articles">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="article">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="titles">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element type="xs:string" name="title"/>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="urls">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="web-urls">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="url"/>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="xml">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="livres">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="livre">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="titles">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="title"/>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="urls">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="web-urls">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="url"/>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="xml">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="articles">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="article">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="contributors">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="authors">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element type="xs:string" name="author"/>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="titles">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="title"/>
                                                                          <xs:element type="xs:string" name="secondary-title"/>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="urls">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="web-urls">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element type="xs:string" name="url"/>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="xml">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="sites">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="site">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="titles">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element type="xs:string" name="title"/>
                                                                                <xs:element type="xs:string" name="secondary-title"/>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="urls">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="web-urls">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element type="xs:string" name="url"/>
                                                                                    </xs:sequence>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>